head {
    font-family: Arial;
}

body {
    font-family: Arial;
}

h1 {
    font-family: Arial;
    text-align: center;
}

img {
    width: 80%;
    height: 50%;
}

p {
    padding: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /*row wrap*/
    gap: 50px 50px;
  }
  

.flex-item {
    align-items: center;
    outline-style: solid;
    border: 5px solid black;
    flex-grow: 1;
    margin: 5px 5px 5px 5px;
}

.shape {
    justify-content: space-evenly;
    transition-duration: .5s;
}

.shape:hover {
    fill: rgba(241, 241, 236, 0.658);
}

.acknowledgements {
    font: Arial;
    text-align: center;
    font-size: smaller;
}

.r {
    font-size: smaller;
}

