* {
    font-family: Arial;
}

h1 {
    text-align: center;
}

img {
    object-fit: contain;
    width: 80%;
    height: 50%;
}

p {
    padding: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly; /*center*/
    flex-wrap: wrap; /*row wrap*/
    flex-direction: row;
    /*gap: 50px 50px;*/
}

.flex-item {
    border: 5px solid black;
    margin: 5px;
    width: 500px;
    height: auto;
  }

.shape {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    transition-duration: .5s;
}

.shape:hover {
    fill: rgba(241, 241, 236, 0.658);
}

.acknowledgements {
    font: Arial;
    text-align: center;
    font-size: smaller;
}

.r {
    font-size: smaller;
}

