* {
    font-family: Arial;
}

h1 {
    text-align: center;
}

img {
    object-fit: contain;
    width: 80%;
    height: 50%;
}

p {
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: center; /*space-evenly*/
    flex-wrap: wrap; /*row wrap*/
    flex-direction: row;
}

.flex-item {
    border: 10px solid black;
    margin: 5px;
    width: 500px;
    height: auto;
  }

.shape {
    /* display: flex; */
    justify-content: space-evenly;
    transition-duration: .5s;
}

/* .shape:hover {
    opacity: 0.25;
} */

circle:hover, rect:hover {
    opacity: 0.25;
}

.acknowledgements {
    font: Arial;
    text-align: center;
    font-size: smaller;
}

.r {
    font-size: smaller;
}

